@font-face {
  font-family: "Graphik-R";
  src: url("../fonts/Graphik-Regular-Trial.otf") format("opentype");
}
@font-face {
  font-family: "Graphik-M";
  src: url("../fonts/Graphik-Medium-Trial.otf") format("opentype");
}
a,
ul,
body,
h1,
h3,
h2,
p,
li,
svg,
button,
hr {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul,
a,
address {
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

img {
  display: block;
}

svg {
  background-color: firebrick;
}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1219px;
}
.container__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  color: white;
  font-family: "Graphik-R";
  font-weight: 400;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.header {
  background-color: #181818;
  padding: 31px 0;
}
.header__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767.9px) and (min-width: 0) {
  .header__desc {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header__button {
  font-family: "Graphik-M";
  font-weight: 500;
  font-size: 17px;
  line-height: 147.059%;
  letter-spacing: 0.2px;
  color: white;
  padding: 10px;
  padding: 13.5px 40px;
  background-color: transparent;
  border: 1px solid white;
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.header__button:focus, .header__button:hover {
  border: 1px solid transparent;
  background-color: #3643d8;
}
.header__button.active {
  border: 1px solid transparent;
  background-color: #4452fe;
}
.header__button.active:focus, .header__button.active:hover {
  background-color: #3643d8;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 31px;
}
@media screen and (max-width: 767.9px) and (min-width: 0) {
  .nav {
    display: none;
  }
}
.nav__link {
  font-family: "Graphik-R";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: white;
  padding: 10px;
}

.hero {
  background-color: #181818;
}
.hero__title {
  font-family: "Graphik-M";
  font-weight: 500;
  font-size: 80px;
  line-height: 110%;
  letter-spacing: 0.2px;
  color: white;
  padding: 10px;
  max-width: 709px;
}
.hero__text {
  font-family: "Graphik-R";
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: white;
  padding: 10px;
  max-width: 582px;
}
.hero__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.hero__button {
  font-family: "Graphik-M";
  font-weight: 500;
  font-size: 17px;
  line-height: 147.059%;
  letter-spacing: 0.2px;
  color: white;
  padding: 10px;
  padding: 13.5px 40px;
  background-color: transparent;
  border: 1px solid white;
  -webkit-box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.hero__button:focus, .hero__button:hover {
  border: 1px solid transparent;
  background-color: #3643d8;
}
.hero__button.active {
  border: 1px solid transparent;
  background-color: #4452fe;
}
.hero__button.active:focus, .hero__button.active:hover {
  background-color: #3643d8;
}
.hero__img-box {
  margin-bottom: 152px;
  position: relative;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 551px;
  bottom: -152px;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(66.15%, #0e0e0e));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
}