.header {
  padding: 31px 0;
  &__desc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    @include mobile {
      flex-wrap: wrap;
    }
  }
  &__button {
    @include button;
    @include mobile {
      display: none;
    }
  }
}
.nav {
  display: flex;
  gap: 31px;
  &__link {
    @include font;
    &:hover,
    &:focus {
      color: $primary;
    }
  }
  @media (max-width: 900px) {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}
