.no-scroll {
  overflow: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.no-scroll {
    overflow: hidden;
  }
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  background-color: white;
  opacity: 1;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &__icon {
    width: 18px;
    height: 18px;
    fill: $primary;
    transition: fill 0.5s;
  }
  &:hover .close-button__icon,
  &:focus .close-button__icon {
    fill: $primary_hover;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  &__h2 {
    @include font;
    color: black;
    margin-bottom: 12px;
    text-align: center;
  }
}
