.partners {
  align-items: center;
  align-self: stretch;
  background-color: var(--dark-background, #181818);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 60px;

  & .container {
    display: flex;
    width: 831px;
    max-width: 100%;
    flex-direction: column;
  }
  &__title-box {
    align-items: center;
    align-self: center;
    display: flex;
    width: 591px;
    max-width: 100%;
    flex-direction: column;
    padding: 10px;
  }

  &__title-box-title {
    color: var(--light-text, #fff);
    letter-spacing: 0.2px;
    white-space: nowrap;
    font: 400 52px/62px Graphik, sans-serif;
  }

  &__title-box-text {
    color: var(--light-text, #fff);
    text-align: center;
    letter-spacing: 0.2px;
    align-self: stretch;
    margin-top: 20px;
    font: 400 20px/30px Graphik, sans-serif;
  }

  &__imgs {
    align-items: flex-start;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    gap: 20px;
  }

  &__imgs-appstore {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 60px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  &__imgs-apiary {
    aspect-ratio: 0.98;
    object-fit: contain;
    object-position: center;
    width: 60px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }

  &__imgs-android {
    aspect-ratio: 0.86;
    object-fit: contain;
    object-position: center;
    width: 60px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }

  &__imgs-basecamp {
    aspect-ratio: 1.2;
    object-fit: contain;
    object-position: center;
    width: 60px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }

  &__imgs-airbnb {
    aspect-ratio: 0.92;
    object-fit: contain;
    object-position: center;
    width: 72px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }

  &__imgs-ibm {
    aspect-ratio: 2.48;
    object-fit: contain;
    object-position: center;
    width: 149px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }

  &__button {
    color: var(--light-text, #fff);
    background-color: transparent;
    letter-spacing: 0.2px;
    white-space: nowrap;
    border: 1px solid var(--light-text, #fff);
    box-shadow: 0px 4px 31px 0px rgba(0, 0, 0, 0.15);
    align-self: center;
    margin-top: 50px;
    justify-content: center;
    padding: 14px 40px;
    font: 500 17px/25px Graphik, sans-serif;
  }
}
