.some-box {
  padding: 80px 0;
  &__box {
    border-radius: 33px;
    background-color: $some-box__bgr;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 37px;
    justify-content: center;
    align-items: start;
    padding: 17px 65px;
  }

  &__text {
    @include font($ls: 119.231%, $fs: 52px);
    padding: 0 10px;
    min-width: 479px;
  }

  &__button {
    @include button;
    padding: 13.5px 67px;
  }
}
