.container {
  padding: 0;
  margin: 0 auto;
  max-width: calc(1579px - (180px * 2));
  &__hero {
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  &__features {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
body {
  color: white;
  background-color: $dark_bgr;
  @include fonts(regular);
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
