.container {
  padding: 0;
  margin: 0 auto;
  // max-width: calc(1579px - (180px * 2));
  max-width: calc(100% - 30px);
  &__hero {
    @include container(35px);
    max-width: 100%;
    overflow: hidden;
  }
  &__features {
    @include container(80px);
  }
  &__content {
    @include container(44px);
  }
  &__partners {
    @include container;
  }
  &__gallery {
    @include container;
  }
  &__testimonial {
    @include container;
  }
  &__some-box {
    max-width: calc(100% - 240px);
  }
}
html {
  scroll-behavior: smooth;
}
body {
  color: white;
  background-color: $dark_bgr;
  @include fonts(regular);
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  @media (max-width: 1375px) {
    gap: 0;
  }
}
